body {
  background-color: #EAF6F6;
}

hr {
border-style:none;
border-color: grey;
border-width: 5px;
border-top-style: dotted;
width:5%;
}

h1{
  color: black;
}

h3{
  color: blue;
}


h4{
  color: black;
}
